extends layout

block content
  .container
    .d-flex.flex-column.align-items-center.justify-content-center
      .mt-5
      img.mt-5.character-image-general(src=image alt=name)
      .fs-2.pt-2= name
      p.lead.fs-4= intro
      if audio
        audio(controls)
          source(src=audio type="audio/mpeg")
      p.fs-5.pt-4.pb-4.border-bottom(style='max-width: 32em; text-align: justify')= details
    if times !== 'unknown'
      .d-flex.flex-column.align-items-center.justify-content-center.mb-4
        p.lead.fs-4.mt-3 #{name} speaks #{times} times with #{words} total words.
        //- p.lead.fs-5 #{scenes}
        ul.fs-5
          each val, key in scenes[i]
            li(style='max-width: 32em; text-align: justify')= val